/* variables.css */
:root {
    --primary-color: #ff4757;
    --secondary-color: #ff6b81;
    --background-dark: #0a0a0a;
    --alt-background-dark: #1a1a1a;
    --text-light: #dcdde1;
    --text-muted: #9e9e9e;
  }
  